body {
    font-size: 20pt;
    color: white;
    background-color: black;
    
}
h1 {
  font-size: 24pt;
  color: #FFC107;
  background-color: black;
}
details {
color: blue;
}
h2 {
    color: blue;
    background-color: black;
    font-size: 30pt;
    border-radius: 2rem;
    border-color: white;
}
